@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

#container {
  width: 1209px;
  margin: 10px auto;
}
#container img {
  position: relative;
  width: 100%;
}

p {
  font-size: 75px;
  font-family: "Lexend Deca", sans-serif;
  color: rgb(255, 0, 55);
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
}
button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  color: white;

  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out;
}

button:hover {
  opacity: 0.5;
}

#start {
  background-color: rgb(255, 0, 55);
}

#stop {
  background-color: rgb(255, 0, 55);
}

#reset {
  background-color: rgb(255, 0, 55);
}
